 @import "bulma";

 .notification:not(:last-child){
   margin-bottom: 0;
 }

 .profile_image {
  border-radius: 50%;
 }

 .main-image {
   height: 940px;
   background-image: url(meal.png);
   background-repeat: no-repeat;
   background-size: contain;
 }

 .home-index_icon i {
  color: #757373;
  margin-top: 5px;
 }

 .form {
  font-size: 1rem;
 }

 .user-btn{
  height: 46px;
 }

 .home-index_title {
  padding-top: 90px;
}

.notice {
  z-index: 6;
}

.alert {
  z-index: 5;
}